!!! 5
%html
	%head
		%meta(charset='utf-8')
		%meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

		%title= data.page.title or "Dot's Labyrinth"

		%meta{name: 'author', content: data.author.name}
		%meta{name: 'contact', content: data.author.email_address}
		%meta{name: 'copyright', content: "Copyright #{Time.now.year} #{data.author.name}"}
		%meta{name: 'description', content: data.page.description}
		%meta{name: 'last-modified', content: Time.now}

		= yield_content :assets

		- google_analytics(data.tracking.google_analytics_id) if :build == environment
	%body
		= yield
