---
title: Dot's Labyrinth (Alpha)
description: Play Dot's Labyrinth, an HTML5 maze game.
---

- content_for :assets do
	= javascript_include_tag '//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js'
	= javascript_include_tag 'labyrinth'

%canvas#labyrinth
